
.hero {
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    background-color: #2F303A;
}
.hero__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-bg-color;
}