.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section__title {
    margin-bottom: 30px;

    text-align: center;
    font-size: 28px;
    line-height: 1.18;
}
.section__list {
    text-align: center;
}