@media screen and (min-width: 1200px) {
    .footer__socials {
        margin-left: 70px;
    }

    .footer__subs {
        margin-left: auto;
    }
    .subs__input {
        width: 358px;
    }
    .subs__form {
        display: flex;
    }
}



