@media screen and (min-width: 1200px) {
    .sait-nav__list {
        margin-left: 93px;
    }
    .contacts {
        flex-direction: row-reverse;
    }
    .contacts__link--tel {
        margin-left: 30px;
    }

}