@media screen and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .section__title {
        margin-bottom: 50px;
    
        font-size: 36px;
        line-height: 1.17;
    }
    .section__list {
        display: flex;
    }

}
